.container {
    max-width: 750px;
    position: relative;
    margin: auto;
}

#slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 750px;
    height: 400px;
}

/* helper css, since we don't have images */
.slide1 {
    background-image: url("imgs/best-17-gelada-baboons-monkeys-guassa-ethiopia-evening-running-cliffs.adapt.1900.1.jpg");
    background-position: center;
    background-size: cover;
}
.slide2 {
    background-image: url("imgs/best-africa-tech-revolution-coding-technology-computers-apps-3.adapt.1900.1.jpg");
    background-position: center;
    background-size: cover;
}
.slide3 {
    background-image: url("imgs/best-crocodile-hunters-australia-conservation-30.adapt.1190.1.jpg");
    background-position: center;
    background-size: cover;
}
.slide4 {
    background-image: url("imgs/best-jaguar-trafficking-south-north-america-threats-8.adapt.1900.1.jpg");
    background-position: center;
    background-size: cover;
}
.slide5 {
    background-image: url("imgs/best-kulung-honey-nepal-mauli.adapt.1900.1.jpg");
    background-position: center;
    background-size: cover;
}
.slide6 {
    background-image: url("imgs/best-MM8380_140814_2684NEW.adapt.1190.1.jpg");
    background-position: center;
    background-size: cover;
}
.slide7 {
    background-image: url("imgs/best-trees-neem-tree-varanasi-india.adapt.1190.1.jpg");
    background-position: center;
    background-size: cover;
}
.slide8 {
    background-image: url("imgs/best-under-antarctica-emperor-penguins.adapt.1900.1.jpg");
    background-position: center;
    background-size: cover;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


@media screen and (min-width: 1105px) {
    .container {
        width: 750px;
    }
}
